# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-storage-blob
pymongo
llama-index
llama-index-embeddings-openai
llama-index-storage-docstore-mongodb
motor
llama-index-storage-index-store-mongodb
llama-index-vector-stores-mongodb
llama-index-vector-stores-azurecosmosmongo